.navigation {
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%
}

.navigation li {
  display: inline-block;
  padding: 10px 20px;
  overflow: hidden;
  border-right: 1px solid white;
}

.navigation Tab {
  text-decoration: none;
  text-align: center;
  color: black;
}

.navigation li Tab:hover {
  background-color: rgb(136, 231, 136);
  color: white;
  padding: 5px;
}

h1 {
  color:rgb(136, 231, 136);
  text-align: center;
}

h2 {
  color: pink;
  text-align: center;
}
